
:root {
    --orange :#F24B59;
    --pink:#F22E76;
    --celent :#8FCBD9;
    --blue:#04ADBF;
    --cream:#D9A796;
    --gradient:linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background:var(--gradient);
    font-family: 'Source Code Pro', monospace;
}
.container {
    margin:5rem;
}
.title h1 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--blue);
    font-size: 3rem;
    line-height: 2rem;
}
.title p {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
    color: var(--pink);
}

.gallery {
    display: grid;
    gap: 2rem;
    grid-auto-flow: dense;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
}
.featured {
    grid-column: span 2;
}
.featured3 {
    grid-column: span 3;
}
.card {
    overflow: hidden;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    background: linear-gradient(145deg, #049cac, #04b9cc);
    box-shadow:  4px 4px 3px #04a8b9,
             -4px -4px 3px #04b2c5;
    padding: 1rem;
    transition: transform .3s;
}
.card:hover{
    transform: translateY(5px);
    box-shadow:  5px 5px 3px #04a8b9,
    -5px -5px 10px #04b2c5;
}
.card__img_larg img {
    width: 100%;
    height: auto;
    border-bottom-left-radius: 70px;
}
.card__img img {
    width: 100%;
    border-bottom-left-radius: 70px;
}
.card__title {
    background: var(--cream);
    opacity: 95%;
    width: 100%;
    height: 6rem;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 0.3rem;
    
}
.card__title h4{
    font-size: 1.5rem;
    color: var(--orange);
}
.card__title p{
    font-size: 1rem;
    line-height: 1.2rem;
    color: var(--pink);
    font-weight: 400;
}

